<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>修改购买数量</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="/layui/layui.js"></script>
</head>
<body>
<form class="layui-form" action="">
    <input name="id" hidden>
    <div class="layui-form-item">
<!--        <label class="layui-form-label">商品</label>-->
        <div class="layui-input-inline">
            <img name="partsImg" style="height: 120px;width: 240px">
        </div>
        <!--        <div class="layui-form-mid layui-word-aux">店铺名</div>-->
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">商品</label>
        <div class="layui-input-inline">
            <input type="text" name="partsName" disabled required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
        <!--        <div class="layui-form-mid layui-word-aux">店铺名</div>-->
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">购买数量</label>
        <div class="layui-input-inline">
            <input type="text" name="num" required lay-verify="required" placeholder="" autocomplete="off" class="layui-input">
        </div>
<!--        <div class="layui-form-mid layui-word-aux">店铺名</div>-->
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo" id="btn">立即提交</button>
        </div>
    </div>

</form>

<script>
    //Demo
    function child(data) {
        layui.use(['form','layer'], function() {
            var $ = layui.jquery;
            var layer = layui.layer;
            var form = layui.form;

            console.log(data)
            $('input[name="id"]').attr("value",data.id);
            $('input[name="partsName"]').attr("value",data.partsName);
            $('img[name="partsImg"]').attr("src",data.partsImg);
            $.ajax({
                url:"findOneShopCarts",
                data:{"id":data.id},
                success:function (res) {
                    $('input[name="num"]').attr("value",res.num);
                }
            })
            form.render();
        })

    }
    layui.use(['form','layer'], function(){
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;


        //监听修改用户提交
        form.on('submit(formDemo)', function(data){
            console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
            console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
            console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            $.ajax({
                url:"shopCartsUpdate",
                data:data.field,
                success:function (res) {

                    layer.msg(res.extend.msg);
                    var index = parent.layer.getFrameIndex(window.name);
                    setTimeout(function () {
                        parent.layer.close(index);//关闭当前页
                    }, 1000)
                },
                error:function () {
                    layer.msg("出错了");
                    var index = parent.layer.getFrameIndex(window.name);
                    setTimeout(function () {
                        parent.layer.close(index);//关闭当前页
                    }, 1000)
                }
            })
            return false;
        });


    });
</script>
</body>
</html>