<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>顾客信息表</title>
    <link rel="stylesheet" href="/layui/css/layui.css" media="all">
    <script src="../../static/js/jquery-1.8.3.min.js"></script>
</head>
<body>
<!--工具条-->
<script type="text/html" id="currentTableBar">
    <button type="button" class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">
        <i class="layui-icon">&#xe642;</i>
    </button>
    <button type="button" class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del">
        <i class="layui-icon">&#xe640;</i>
    </button>
</script>
<table id="demo" lay-filter="test"></table>
<div class="layui-form" lay-filter="test1">
    <select name="message" lay-verify="" lay-search id="message">
    </select>
</div>


<button class="layui-btn" id="go">下单</button>
<script src="/layui/layui.js"></script>
<script th:inline="none">
    layui.use(['form','table'], function () {
        var $ = layui.jquery;
        var table = layui.table;
        var form = layui.form;
        $.ajax({
            url:"getAllShop",
            success:function (res) {
                for (var i = 0; i < res.length; i++) {
                    var option = $("<option value=" + res[i].id + ">" + res[i].shopName + "   "+res[i].shopAddress + "</option>")
                    $("#message").append(option);
                }
                form.render('select', 'test1')
            }
        })
        //数据表格展示数据
        table.render({
            elem: '#demo'
            // , height: 472
            , url: 'userFindShopCart' //数据接口
            , page: false //开启分页
            , cols: [[ //表头
                {type: "checkbox", width: 50, fixed: "left", align: "center"}
                , {type: 'numbers', title: '序号', sort: true, width: 50, align: "center"}
                , {field: 'id', title: 'ID', width: 80, sort: true, align: "center", hide: true}
                , {field: 'partsImg', title: 'img', width: 80, sort: true, align: "center", hide: true}
                , {field: 'partsName', title: '商品名称', align: "center"}
                , {field: 'produce', title: '制造商', align: "center"}
                , {field: 'partsDesc', title: '商品描述', align: "center"}
                , {field: 'partsPrice', title: '商品单价', align: "center"}
                , {title: '操作', width: 150, templet: '#currentTableBar', fixed: "right", align: "center"}
            ]],
            limit: 10,
            limits: [10, 20, 30],
            response: {statusCode: 0},
            parseData: function (res) {
                return {
                    "code": 0, //解析接口状态
                    "msg": "", //解析提示文本
                    // "count": res.total, //解析数据长度
                    "data": res //解析数据列表
                }
            }
        });

        //勾选需要购买的商品
        //多行删除，既批量删除
        $("#go").on("click", function () {
            var checkStatus = table.checkStatus('demo'); //idTest 即为基础参数 id 对应的值
            var data = checkStatus.data;
            if (JSON.stringify(data) == null || JSON.stringify(data) == "[]") {
                layer.msg("选择不能为空");
            } else {
                layer.confirm('确定要购买勾选的产品嘛', function (index) {
                    if (index) {
                        var id = [];
                        console.log(data);
                        for (var i = 0; i < data.length; i++) {
                            id += data[i].id + ","

                        }
                        console.log(id);
                        //发送提交命令
                        var message=$("#message").val();
                        $.ajax({
                            url: "/orderAdd",
                            data: {"id": id,"message":message},
                            success: function (res) {
                                layer.alert(res.extend.msg)
                                table.reload('demo', {
                                    url: '/userFindShopCart',
                                    page: {
                                        curr: 1 //重新从第 1 页开始
                                    }
                                }); //只重载数据
                            },
                            error: function () {
                                layer.alert("出错啦");
                            }
                        })
                        return false;
                    } else {
                        layer.close(index);
                    }
                })
            }
        })
//监听工具条删除修改操作
        table.on('tool(test)', function (obj) { //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的 DOM 对象（如果有的话）

            if (layEvent === 'del') { //删除
                layer.confirm('确定删除这一行数据嘛', function (index) {
                    // obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                    layer.close(index);
                    //向服务端发送删除指令
                    //发送删除命令
                    $.ajax({
                        url: "/shopCartDelete",
                        data: {"id": data.id},
                        success: function (res) {
                            layer.alert(res.extend.msg)
                        },
                        error: function () {
                            layer.alert("出错啦");
                        }
                    })
                    table.reload('demo', {
                        url: '/userFindShopCart',
                        page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    }); //只重载数据
                });
            } else if (layEvent === 'edit') { //编辑
                layer.open({
                    type: 2,
                    content: ['/userShopCartUpdate', "no"],//跳转到添加用户页面，你还可以content: ['http://sentsin.com', 'no']
                    area: ['500px', '350px'],
                    //弹出动画
                    anim: 1,
                    //关闭按钮样式
                    closeBtn: 2,
                    success: function (layero, index) {
                        var iframe = window['layui-layer-iframe' + index];
                        //调用子页面的全局函数
                        iframe.child(data)
                    },
                    end: function () {
                        //do something
                        table.reload('demo', {
                            url: '/userFindShopCart',
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                        }); //只重载数据
                    }
                });

                //同步更新缓存对应的值
                obj.update({
                    username: '123'
                    , title: 'xxx'
                });
            } else {
                layer.close(index);
            }
        });
    });
</script>
</body>
</html>